# PyCity Schools Analysis

- Your analysis here
  -Analysis of the school district shows that the average passing grade for both reading and writing is %65, while math is %76, and reading is %82. The top 5 schools are all charter schools, while the bottom 5 are all non-charter schools. This shows that charter have a better teaching system than non-charter schools. Another interesting this discovered is that the more you spend per student, the more there grades decrease. Schools that pay less per student actually do better. The data also shows that reading is passed in a higher rate than math.
  In conclusion, charter schools that spend less money per student have better grades.

In [315]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [316]:
# Calculate the total number of unique schools
school_count = len(school_data_complete.value_counts("school_name"))
                                                    
school_count

15

In [317]:
# Calculate the total number of students
student_count= school_data_complete["student_name"].count()

student_count

39170

In [318]:
# Calculate the total budget
total_budget = (school_data["budget"]).sum()
total_budget

24649428

In [319]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [320]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [321]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [322]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count/float(student_count)*100

In [323]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [372]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary= pd.DataFrame(
                               {"Total Schools":school_count,
                                "Total Students":student_count,
                                 "Total Budget":total_budget,
                                 "Average Math Score":average_reading_score,
                                 "Average Reading Score": average_math_score,
                                 "Percent Passing Reading":passing_reading_percentage,
                                 "Percent Passing Math":passing_math_percentage,
                                 "Percent Passing Both":overall_passing_rate})
                                 
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

ValueError: If using all scalar values, you must pass an index

## School Summary

In [ ]:
# Use the code provided to select all of the school types
school_types = school_data.set_index(["school_name"])["type"]
school_types

In [ ]:
#Groupby
school_group=school_data_complete.groupby(["school_name"])

In [ ]:

# Calculate the total student count per school
per_school_counts = school_group['size'].size()
per_school_counts

In [ ]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_group['budget'].mean()
per_school_capita = per_school_budget/per_school_counts

In [ ]:
# Calculate the average test scores per school
per_school_math = school_group['math_score'].mean()
per_school_reading = school_group['reading_score'].mean()

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math =school_data_complete[school_data_complete["math_score"]>=70].groupby(["school_name"]).size()
                                                                                        
school_students_passing_math =students_passing_math/student_count*100

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete["reading_score"]>=70].groupby(["school_name"]).size()
                                                                                                   
school_students_passing_reading =students_passing_reading/student_count*100

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [337]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =  pd.DataFrame({
                         "school type":school_types,
                         "Total Student Budget":per_school_counts,
                         "Total School Budget":per_school_budget,
                        "Per Student Budget":per_school_capita,
                        "Average Reading Score":per_school_reading,
                        "Average Math Score":per_school_math,
                       " Percent Passing Math":per_school_passing_math,
                       " Percent Passing Reading":per_school_passing_reading,
                       "Percent Overall Passing":overall_passing_rate
                        })
                      


# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,school type,Total Student Budget,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,81.033963,77.048432,0.203821,0.250446,65.172326
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.975780,83.061895,0.287738,0.296622,65.172326
Figueroa High School,District,2949,"$1,884,411.00",$639.00,81.158020,76.711767,0.201707,0.246796,65.172326
Ford High School,District,2739,"$1,763,916.00",$644.00,80.746258,77.102592,0.208802,0.242393,65.172326
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.816757,83.351499,0.285473,0.296925,65.172326
Hernandez High School,District,4635,"$3,022,020.00",$652.00,80.934412,77.289752,0.204044,0.247174,65.172326
Holden High School,Charter,427,"$248,087.00",$581.00,83.814988,83.803279,0.282763,0.294216,65.172326
Huang High School,District,2917,"$1,910,635.00",$655.00,81.182722,76.629414,0.200776,0.248560,65.172326
Johnson High School,District,4761,"$3,094,650.00",$650.00,80.966394,77.072464,0.201918,0.248273,65.172326
Pena High School,Charter,962,"$585,858.00",$609.00,84.044699,83.839917,0.289147,0.293278,65.172326
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,80.744686,76.842711,0.202863,0.245209,65.172326
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.725724,83.359455,0.286924,0.292999,65.172326
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.848930,83.418349,0.285105,0.297444,65.172326
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.989488,83.274201,0.286926,0.295093,65.172326
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.955000,83.682222,0.285292,0.295311,65.172326

## Highest-Performing Schools (by % Overall Passing)

In [362]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
bottom_schools= per_school_summary.sort_values(["Percent Overall Passing"],ascending=True)

                                             
                                             
                                             
                                             
                                        
top_schools.head(5)

,school type,Total Student Budget,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,81.033963,77.048432,0.203821,0.250446,65.172326
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.975780,83.061895,0.287738,0.296622,65.172326
Figueroa High School,District,2949,"$1,884,411.00",$639.00,81.158020,76.711767,0.201707,0.246796,65.172326
Ford High School,District,2739,"$1,763,916.00",$644.00,80.746258,77.102592,0.208802,0.242393,65.172326
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.816757,83.351499,0.285473,0.296925,65.172326

## Bottom Performing Schools (By % Overall Passing)

In [361]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(["Percent Overall Passing"],ascending=False)
bottom_schools.head(5)

,school type,Total Student Budget,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,81.033963,77.048432,0.203821,0.250446,65.172326
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.975780,83.061895,0.287738,0.296622,65.172326
Figueroa High School,District,2949,"$1,884,411.00",$639.00,81.158020,76.711767,0.201707,0.246796,65.172326
Ford High School,District,2739,"$1,763,916.00",$644.00,80.746258,77.102592,0.208802,0.242393,65.172326
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.816757,83.351499,0.285473,0.296925,65.172326

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby('school_name')['math_score'].mean()
tenth_grader_math_scores = tenth_graders.groupby('school_name')['math_score'].mean()
eleventh_grader_math_scores = eleventh_graders.groupby('school_name')['math_score'].mean()
twelfth_grader_math_scores = twelfth_graders.groupby('school_name')['math_score'].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9":ninth_grade_math_scores,
    "10":tenth_grader_math_scores,
    "11":eleventh_grader_math_scores,
    "12":twelfth_grader_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [330]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores =  ninth_graders.groupby('school_name')['reading_score'].mean()
tenth_grader_reading_scores =  tenth_graders.groupby('school_name')['reading_score'].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby('school_name')['reading_score'].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby('school_name')['reading_score'].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = math_scores_by_grade = pd.DataFrame({
    "9th":ninth_grade_reading_scores,
    "10th":tenth_grader_reading_scores,
    "11th":eleventh_grader_reading_scores,
    "12th":twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita,spending_bins,)

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percent Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percent Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percent Overall Passing"].mean()

In [364]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
                                "Average Math Score":spending_math_scores,
                                "Average Reading Score":spending_reading_scores,
                                "Percent Passing Math":spending_passing_math ,
                                "Percent Passing Reading":spending_passing_reading ,
                                "Percent Overall Passing":overall_passing_spending})
                                

# Display results
spending_summary

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
Spending Ranges (Per Student),,,,,
"(0, 585]",83.455399,83.933814,0.285680,0.295311,90.369459
"(585, 630]",81.899826,83.155286,0.266341,0.283412,81.418596
"(630, 645]",78.518855,81.624473,0.224619,0.257961,62.857656
"(645, 680]",76.997210,81.027843,0.202246,0.248002,53.526855

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [367]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame. 
per_school_summary["size"]

KeyError: 'size'

In [370]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["school size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["Percent Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["Percent Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["Percent Overall Passing"].mean()

KeyError: 'school size'

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [343]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["school type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["school type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["school type"])[" Percent Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["school type"])[ " Percent Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["school type"])["Percent Overall Passing"].mean()

In [345]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({   "Average Math Score":average_math_score_by_type ,
                                "Average Reading Score":average_reading_score_by_type,
                                "Percent Passing Math":average_percent_passing_math_by_type,
                                "Percent Passing Reading":average_percent_passing_reading_by_type,
                                "Percent Overall Passing":average_percent_overall_passing_by_type})
                                
# Display results
type_summary

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
school type,,,,,
Charter,83.473852,83.896421,0.286171,0.295236,65.172326
District,76.956733,80.966636,0.203419,0.246979,65.172326